body{
    background-color: pink;
    margin:0;
    padding:0;
}
.cabecera {
    width: 100%;
    height:9vw;
    margin: auto;
    background-color:red;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
}
.titulos {
    font-weight:bolder;
    font-family:"helvetica";
    font-size: 4vw;
    text-align:center;
    line-height:0;
}
.cuerpo {
    width: 99%;
    height: 75%;
    position:absolute;
    left:0;
    top:10vw;
    margin: 0.5%;
}
.botones{
    width: 10%;
    position:absolute;
}
.derechos{
    width: 50%;
    right: 0;
}
.izquierdos{
    width: 50%;
    left: 0;
}
.abajo{
    bottom:20%;
}
.arriba{
    top: 0;
}
.icono{
    width:20vw;
    margin: auto;
    position:absolute;
    left:50%;
    transform: translate(-50%,0%);
}
.textoicono{
    text-decoration: none;
}