body{
    background-color: #FDDD04;
}
.cabecera {
    width: 100%;
    margin: auto;
    background-color:black;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
    color: white;
    text-align: center;
}
.logo{
    width:10%;
    float: left;
    margin:1.5%;
}
.titulos {
    font-family:"helvetica";
    font-size: 6vw;
    line-height: 0;
}
.cuerpo {
    width: 100%;
    margin-top: 13%;
}
.botones{
    width: 50%;
}
.derechos{

    float: left;
}
.izquierdos{

    float: right;
}
.icono{
    width:100%;
    margin: auto;

}
.textoicono{
    text-align:center;
}