body{
	margin:0;
	

}


.cabecera { border-style: dotted;
			width: 100%;
			margin: auto;
         background-color:#95C11E;
         position:fixed;
}
.logo{	width:10%;
   	 	float: left;
  			margin:1.5%;
}


.titulo { 
			font-family:"helvetica";
    		font-size: 6vw;
   		line-height: 0;

			
}

.cuerpo { 
			width: 100%;
         position:absolute;
         top:9%;
}

.imagen {width: 100%;
			display:block;

}

