.mensaje{
    display:none;


}
.gris{
    filter: grayscale(0); /* Color */
    filter: grayscale(0.5); /* 50% color */
    filter: grayscale(1); /* Blanco y negro */
}
.tamaño{
    width:300px;
}
.pequeña{
    width:170px;
    transition:all 4s;
}
.color{
    transition:all 4s;
}
.transparente{
    opacity: 0;
    transition:all 4s;
}
.semitransparente{
    opacity: 0.3;
    transition:all 4s;
}
.aparecer{
    opacity: 1;
}
/*Nuestros estilos*/
.fondoestrofa1{
    background-size: cover;
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat: no-repeat;
}
.fondoestrofa2{
    background-size: cover;
    background-image: url(../imagenes/fondo2-1.jpg);
    background-repeat: no-repeat;
}
.fondoestrofa3{
    background-size: cover;
    background-image: url(../imagenes/fondo3.jpg);
    background-repeat: no-repeat;
}
.fondoestrofa4{
    background-size: cover;
    background-image: url(../imagenes/fondo4.png);
    background-repeat: no-repeat;
}
.fondoestrofa5{
    background-size: cover;
    background-image: url(../imagenes/fondo5.png);
    background-repeat: no-repeat;
}
.fondoestrofa6{
    background-size: cover;
    background-image: url(../imagenes/fondo6.png);
    background-repeat: no-repeat;
}
.fondoestrofa7{
    background-size: cover;
    background-image: url(../imagenes/fondoarbol.jpg);
    background-repeat: no-repeat;
}

.fondoestrofa8{
    background-size: cover;
    background-image: url(../imagenes/fondo7.png);
    background-repeat: no-repeat;
}

.fondoestrofa9{
    background-size: cover;
    background-image: url(../imagenes/fondo9.jpg);
    background-repeat: no-repeat;
}
.fondoestrofa10{
    background-size: cover;
    background-image: url(../imagenes/fondo9.jpg);
    background-repeat: no-repeat;
}
.fondorondadecolores{
     background-size: cover;
    background-image: url(../imagenes/fondo7.png);
    background-repeat: no-repeat;
}
.mitamaño{
    width: 20%;
}
.cuchavivap{
    color:firebrick;
    font-family:sans-serif;
    position:absolute;
    left:50%;
    top: 20vh;
    transform: translate(-50%);
    font-size: 3vw;
    transition: all 7s;
}
.cuchavivazoom{
    color:darkorange;
    font-family:sans-serif;
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translate(-50%);
    font-size: 10vw;
    transition: all 8s;
    margin-top: 0;
}
.estrofa1{
position:fixed;
left:50%;
top:70%;
font-size:3vw;
}
.estrofa2{
    position:fixed;
    left:8%;
    top:70%;
    font-size:3vw;
    z-index: 90;
}
.estrofa3{
    position:fixed;
    left:5%;
    top:10%;
    font-size:4vw;
}
.estrofa4{
    position:fixed;
    left:40%;
    top:60%;
    font-size:3vw;
    z-index: 90;
}
.estrofa5{
    position:fixed;
    left:5%;
    top:10%;
    font-size:3vw;
}
.estrofa6{
    position:fixed;
    left:13%;
    top:13%;
    font-size:3vw;
}
.estrofa7{
    position:fixed;
    left:50%;
    top:15%;
    font-size:3vw;
    z-index: 90;
}
.estrofa8{
position:fixed;
left:10%;
top:30%;
font-size:3vw;
z-index: 90;
}
.estrofa9{
position:fixed;
left:´20%;
top:25%;
font-size:3vw;
}

.estrofa10{
position:fixed;
left:50%;
top:20%;
font-size:3vw;
position:fixed;
left:´11%;
top:12%;
font-size:3vw;
z-index: 90;
}


.colibrigif{
    width: 90%;
    z-index: 50;
}
.inicio{
    position:fixed;
    left:60%;
    top: 20%;
}
.final{
    position:fixed;
    left:39%;
    top: 55%;
    transition: all 3s;
}
.icono{
    width: 7%;
    position: absolute;
}
.izquierda{
    bottom: 2%;
    left: 2%;
}
.derecha{
    bottom: 2%;
    right: 2%;
    z-index: 90;
}
.numeros{
    width: 15%;
    position: absolute;
    left: 95%;
}
.muysccubun{
    width: 8%;
    position: absolute;
    left: 95%;
}
.cancion{
    position:fixed;
    font-size:2vw;
    text-align: center;
    color: darkred;
    font-family: cursive;
    background-image: url(../imagenes/fondo2.jpg);
}

/*personajes de las estrofas*/

.nina{
    width: 18%;
    position: absolute;
    left: 17%;

}
.planeta{
    width: 15%;
    position: absolute;
    right: 50%;
    top: 10vw;
}
.arcoiris{
    width: 88%;
    position: absolute;
    left: 25%;
    bottom: -10%;
    z-index: 1;
}
.colibri2{
    width: 7%;
    position: absolute;
    top: 16vw;
    right: 94%;
}
.coli3{
    width: 7%;
    position: absolute;
    top: 10vw;
    right: 65%;
}
.arcoiris2{
    width: 88%;
    position: absolute;
    left: 25%;
    bottom: -68%;
    z-index:6;
}
#colibri{
   z-index: 90;
}
.derecha{
    z-index: 90;
}
.papagayo1{
    width: 17%;
}
.iniciop{
    position:fixed;
    left: 8vw;
    bottom: 53vh;
    z-index: 90;
}
.finalp{
    position:absolute;
    left:16vw;
    bottom: 20vh;
    transition: all 3s;
    z-index: 90;
}
.caballo1{
    width: 48%;
    z-index: 500;
    
}
.inicioc{
    position:absolute;
    left: 75vw;
    bottom: 0;
    z-index: 89;
    margin: 0;
    width: 40%;
}
.finalc{
    position:absolute;
    left:15vw;
    bottom: 0;
    transition: all 6s;
    z-index: 89;
    width: 55%;
}

.buho1{
    width:12%;
}
.buho1inicio{
    position:fixed;
    left: 10vw;
    bottom: 5vw;
    z-index: 90;
}

.buho1final{
    position: fixed;
    left: 13vw;
    bottom: 4vw;
    transition: all 3s;
    z-index: 90;
    
}


.papagayoestro10{
    width: 17%;
}
.inicioestro10{
    position:fixed;
    right: 10vw;
    z-index: 90;
}
.finalestro10{
    position:absolute;
    right:10vw;
    transition: all 3s;
    z-index: 90;   
}
.serpiente1{
    width: 80%;
    z-index: 90;
}
.inicios{
    position:absolute;
    left: 75vw;
    bottom: 0;
    z-index: 89;
    margin: 0;
    width: 40%;
}
.finals{
    position:absolute;
    left:15vw;
    bottom: 0;
    transition: all 6s;
    z-index: 89;
    width: 55%;
}
.rana1{
    position: absolute;
     width: 10%;
    z-index: 200;
    bottom: 5vh;

}
.movimiento1{
    position:absolute;
     right: 10vw;
    bottom: 0;
    margin: 0;
    width: 10%;
   
}
.movimiento2{
    position:absolute;
     right: 10vw;
    bottom: 0;
    z-index: 89;
    margin: 0;
    
}
.movimiento3{
    position:absolute;
     right: 10vw;
    bottom: 0;
    margin: 0;
    
}
.movimiento4{
    position:absolute;
     right: 10vw;
    bottom: 0;

    margin: 0;
    
}
.movimiento5{
    position:absolute;
     right: 10vw;
    bottom: 0;
    margin: 0;
   
}


/*hasta aquí van los personajes*/


/* 329 página principal de ronda de colores*/

.lebiqueronda{
    color:#ec407a;
    font-family:sans-serif;
    position:absolute;
    left:50%;
    top: 20vh;
    transform: translate(-50%);
    font-size: 3vw;
    transition: all 1s;
}
.lebiquezoom{
   font-family:sans-serif;
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translate(-50%);
    font-size: 10vw;
    transition: all 5s;
    margin-top: 0;
}
.poeta{
    width: 13%;
    position: absolute;
    right: 15vw;
    bottom: 10vh;
}
.ronda{
    width: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10vh;
}
.lebique{
    width: 15.5%;
    position: absolute;
    left: 14vw;
    bottom: 8vh;
}
.colibriprincipal{
    width: 15%;
    position: absolute;
    right: 70%;
    top: 6vw;
}
.iconoinicio{
    width: 8%;
    position: absolute;
    right: 2%;
    top: 2vw;
    z-index: 90;
}
.muysccubun{
    width: 15%;
    position: absolute;
    left: 30vw;
    bottom: 40vh;
}
.español{
    width: 15%;
    position: absolute;
    right: 30vw;
    bottom: 35vh;
}
.planetaestrofa10{
    width: 25%;
    position: absolute;
    left: 7%;
}
.caballoes10{
    width: 40%;
    
}
.inicioes10{
    position:fixed;
    left: 75vw;
    bottom: 0vh;
    z-index: 89;
    margin: 0;
    width: 40%;
}
.finales10{
    position:fixed;
    left:15vw;
    bottom: 0vh;
    transition: all 6s;
    z-index: 89;
    width: 55%;
}
#lebique1{
    transition:all 0.8s;
}

.todoslosanimales{width: 100%;}
.todoslosanimales img {width: 20%;
                        margin-top: 30%;}


/* Aqui  CSS de poema.html */



.menuarriba{width: 100%;

}
.menuarriba img{width: 8%;
            float: right;
            margin-right: 4%;
    
    

}

.marco{width: 100%;
    
}

.poema {width: 25%;
        float: left;
    text-align: center;
}

.texto{width: 100%;
    height: auto;
    background-color: beige;
    
    text-align: center;
    
}

.textopoema{font-size: 5vh;
        color: saddlebrown;
    
        

}

