body{
    margin:0;
    padding: 0;
}
.cabecera {
    width: 100%;
    height:9vw;
    margin: auto;
    background-color:red;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
}
.logo{
    width:5%;
    float: left;
    margin:1.5%;
}
.titulos {
    font-weight:bolder;
    font-family:"helvetica";
    font-size: 4vw;
    text-align:center;
    padding-top:2%;
}
.cuerpo{
    width: 100%;
    position: absolute;
    top:9.4vw;
    left:0.5vw;
    z-index: 98;
}
.vertical {
    width: 33%;
    height: auto;
    display:block;
    float:left;
    margin: auto;
}
.horizontal{
    display: none;
}
.mostrarnumeros{
    background-color: red;
    box-shadow: 0 2.5vh 1vh -1vh gray;
    position:fixed;
    width: 100%;
    height:35vh;
}
#h1js{
    text-align: center;
    font-size:12vh;
    font-family: "helvetica";
}
.cuerponumeros{
    overflow:auto;
    position: fixed;
    top:41vh;
}
.imgnumeros{
    width:19%;
}
.noseve{
    display: none;
}
