h1{
  color:  brown;
  font-size: 22vw;
  font-family:courier;  
}
h2{
  color: blue;
  font-size: 15vw;
   
}
h2{
  color: aquamarine;
  Font-size:10 vw;
}
h3{
  color: black;
  font-size:10vw;
}
img{
  width: 60%;
  
}