body{
     margin:0;
     padding:0;
}
 .cabecera {
    background-color:#1AB1E1;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index:90;
}
.logo{	
    width:7.5vh;
    float: left;
    margin:2%;
}
.titulo{
    font-family:"helvetica";
    font-size: 5vh;
    line-height:0.75;
}
.cuerpo{
    width:100%;
    position:absolute;
    top:10%;
    overflow:auto;
}
.contizquierda, .contderecha{
    display:flex;
    margin:4% 2% 4% 2%;
}
.contderecha{
    justify-content:flex-end;
}
.caras, .burbuja, .texto, .imgaudio{
    display:inline-flex;
    margin:0.5%;
    padding:0.5%;
}
.caras{
    width:10%;
}
.burbuja{
    border-radius: 10px 10px;
    position:relative;
    right:0;
}
.izquierda{
    background-color:#ffb380;
    border: 0.1em solid #ffb380;
}
.derecha{
    background-color:#99cc33;
    border: 0.1em solid #99cc33;
}
.contexto{
    width:100%;
    margin-top:3%;
}
.texto{
    width:99%;
}
.imgaudio{
    width:15%;
}