body{
     margin:0;
     padding:0;
}
.cabecera {
    background-color:#1AB1E1;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index:90;
}
.logo{	
    width:6vh;
    float: left;
    margin:2%;
}
.titulo{
    font-family:"helvetica";
    font-size: 6vh;
    line-height:0.75;
}
.cuerpo{
    width:100%;
    position:absolute;
    top:15%;
}
.chat{ 
    margin: 1% 1% 1% 1%;
}
.contizquierda, .contderecha{
    display:flex;
    margin:4% 2% 4% 2%;
}
.contderecha{
    justify-content:flex-end;
}
.caras, .burbuja, .texto, .imgaudio{
    display:inline-flex;
    margin:0.5%;
    padding:0.5%;
}
.caras{
    width:10%;
}
.burbuja{
    width: 75%;
    border-radius: 10px 10px;
}
.izquierda{
    background-color:#ffff00;
    border: 0.1em solid #ffff00;
}
.derecha{
    background-color:#ffa726;
    border: 0.1em solid #ffa726;
}
.contexto{
    width:90%;
    margin-top:3%;
}
.texto{
    font-family:"helvetica";
    font-size: 4vw;
    width:99%;
}
.imgaudio{
    width:15%;
}