body{
    margin:0;
    padding: 0;
}
.cabecera { 
    width: 100%;
    background-color:#1AB1E1;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
}
.logo{
    width:7.5%;
    float: left;
    margin:2%;
}
.titulo{ 
    font-family:"helvetica";
    font-size: 6vw;
    line-height: 0;			
}

.cuerpo{ 	
    width: 100%;
    position:absolute;
    top:5%;
    left:0;
}
.chat{ 
    margin: 1% 1% 1% 1%;
}
.contizquierda, .contderecha{
    display:flex;
    margin:7.5% 2% 7.5% 2%;
}
.contderecha{
    justify-content:flex-end;
}
.caras, .burbuja, .texto, .imgaudio{
    display:inline-flex;
    margin:0.5%;
    padding:0.5%;
}
.caras{
    width:15%;
}
.burbuja{
    width: 70%;
    border-radius: 10px 10px;
    position:relative;
+   right:0;
}
.izquierda{
    background-color:#ffff00;
    border: 0.1em solid #ffff00;
}
.derecha{
    background-color:#ffa726;
    border: 0.1em solid #ffa726;
}
.contexto{
    width:90%;
    margin-top:3%;
    margin-left: 2%;
    margin-right: 2%;
}
.texto{
    font-family: "helvetica";
    font-size:4vw;
    width:90%;
    color:#fffff;
}
.imgaudio{
    width:20%;
}